## https://app.100daysofpython.dev/services/nutrition/regenerate-key
NUTRITION_API_APP_ID= 
NUTRITION_API_KEY=
# https://sheety.co/
SHEETY_API_TOKEN=
SHEETY_ENDPOINT=https://api.sheety.co/user/project/sheet